node_modules/
dist/
.agents/
.vscode/
bin/
.edge-profile*/
desktop.png
mobile.png
*.log
/Sarthak Arya 22CSU414.pdf
/Sarthak_Arya_Resume.pdf
/Honda Logo Honda Motor Company Motorcycle PNG.jpg
/Innovians-Technologies-Logo_copy.png
